@charset "utf-8";
#index{
	background: url('../images/index_bg.jpg') no-repeat;
    height:100%;
    width:100%;
    /* overflow: hidden; */
    background-size:cover;
}

.content{
	padding-top: 86px;
}
/* fl */
.nav{
	width: 394px;
	height: 100%;
}
.nav .logo{
	width: 128px;
	height: 93px;
	margin-left: -64px;
	background: url('../images/index_logo.png') no-repeat;
	padding-bottom: 70px;
}
.nav .nav-list-item{
	position: relative;
	margin-left: -170px;
}
.nav-list-item li{
	width: 330px;
	height: 25px;
	background: #231815;
	margin-bottom: 12px;
	transform:skew(-33deg);
    -webkit-transform:skew(-33deg);
}
.nav-list-item li:nth-child(1){
	margin-left: 100px;
}
.nav-list-item li:nth-child(2){
	margin-left: 75px;
}
.nav-list-item li:nth-child(3){
	margin-left: 50px;
}
.nav-list-item li:nth-child(4){
	margin-left: 25px;
}
.nav-list-item li:nth-child(1) a{
	margin-left: 16%;
}
.nav-list-item li:nth-child(2) a{
	margin-left: 24%;
}
.nav-list-item li:nth-child(3) a{
	margin-left: 31%;
}
.nav-list-item li:nth-child(4) a{
	margin-left: 38%;
}
.nav-list-item li:nth-child(5) a{
	margin-left: 45%;
}
.nav-list-item li.active{
	background: #d7d7d7;
}
.nav-list-item li a{
	line-height: 25px;
	color: #736442;
	text-align: center;
	display: inline-block;
	transform:skew(33deg);
	-webkit-transform:skew(33deg);
}
/* fr */
.box{
	width: 650px;
	height: auto;
}
.title{
	width: 100%;
	color: #736442;
	padding-bottom: 45px;
}
.title h1{
	font-size: 25px;
	font-weight: normal;
}
.title p{
	font-size: 21px;
}
.box .content_r{
	width: 490px;
	height: 350px;
	padding: 68px 44px;
	position: relative;
	overflow-x:hidden;
    overflow-y:auto;
}
/* fr page1 */
.box .content_r .page1 .title{
	height: auto;
	margin-bottom: 35px;
}
.box .content_r .page1 p{
	font:11px/21px "微软雅黑";
	margin-bottom: 10px;
	text-indent: 0;
}
.box .content_r .page1 p span{
	font-weight: 500;
	font-size: 15px;
}
.box .content_r .page1 .logo-item{
	width: 100%;
	margin-bottom: 45px;
}
.box .content_r .page1 .logo-item li{
	float: left;
	width: 13.6%;
	margin-bottom: 22px;
	display: block;
}
.box .content_r .page1 .logo-item li img{
	width: 42px;
	height: 30px;
}
.box .content_r .page1 .logo-item li:last-child{
	margin-right: 0;
}
/* fr page2 3*/
.page2,.page3,.page5,.page6,.page8{
	width: 490px;
	height: 350px;
	text-align: center;
	margin-bottom: 76px;
}
.page2 img{
	display: inline-block;
}
/* fr page4 */
.page4{
	width: 490px;
	height: 350px;
	/* text-align: center; */
	margin-bottom: 76px;
	position: relative;
}
.page4 .title{
	padding-top: 60px;
}
/* fr page7 */
.box .page7{
	position: relative;
}
.box .content_bg{
	width: 490px;
	height: 350px;
	background: #403d3b;
	/* position: fixed;
	top: 30%;
	left: 46.2%; */
	position: absolute;
	left: 0;
	top: 0;
	z-index: -99;
	opacity: 0.3;
}
.box .content-box{
	width: 490px;
	height: 350px;
}
.box .content_r .list{
	margin-bottom: 15px;
	position: relative;
	z-index: 99;
	margin-left: 33px;
	padding-top: 66px;
}
.list .list-item{
	opacity: 1;
	color: #c2c0c0;
	width: 70px;
	height: 60px;
	position: relative;
	z-index: 1;
	border-radius: 10px;
	background: #403d3b;
	text-align: center;
	padding:5px 10px 15px 10px;
	float: left;
	margin-right: 15px;
}
.list .list-item:last-child,.list_b .list-item:last-child{
	margin-right: 0;
}
.list .list-item h2{
	font-size: 20px;
	font-weight: normal;
	line-height: 38px;
}
.list_b {
	position: relative;
	z-index: 99;
	margin-left: 33px;
}
.list_b .list-item{
	width: 70px;
	height: 80px;
	border-radius: 10px;
	text-align: center;
	color: #c2c0c0;
	padding: 15px 10px;
	background: #776843;
	float: left;
	margin-right: 15px;
}